body {
  display: flex;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  flex-direction: column;
  align-items: center;
  background-color: #f47624;
}
/* Nav Bar Styling */
nav {
  display: flex;
  width: 50%;
  height: 5vh;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 25px black;
}
nav img {
  width: 70px;
  margin-left: 10px;
}
nav h1 {
  margin: 0;
  color: white;
  font-size: 20px;
}

/* Notes Form Styling */
.form {
  display: flex;
  background-color: white;
  width: 50%;
  height: fit-content;
  flex-direction: column;
  box-shadow: 0px 0px 25px black;
  gap: 5px;
}
.row{
  display: flex;
  width: 100%;
  height: fit-content;
  min-height: 100px;
  /* background-color: blue; */
}
.label-title{
  /* background-color: yellow; */
  min-width: 200px;
  max-width: 200px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}
.row-selections{
  display: flex;
  width: 100%;
  /* background-color: green; */
  margin-left: 150px;
}
.row-selections label{
  color: #f47624;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
}
.row-selections-services{
  display: flex;
  width: fit-content;
  height: 100%;
  /* background-color: green; */
  flex-direction: column;
  margin-left: 150px;
  gap: 5px;
}
.row-selections-services-child{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.row-selections-services-child input{
  accent-color: black;
}
.row-selections-services-child label{
  color: #f47624;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 20px;
}
.row-selections select{
  height: 30px;
  width: 100px;
  color: #f47624;
  border: 1px solid black;
  font-weight: bold;
}

.row-selections textarea{
  display: flex;
  border: none;
  border-bottom: 1px solid grey;
  width: 90%;
  min-height: 50px;
  height: fit-content;
}
/* Submit Button ======================================== */
.submit-button{
  background-color: black;
  color: white;
  height: 35px;
  width: 75px;
  border-radius: 10px;
  border: solid 1px white;
  margin: 5px 0 5px 0;
  font-size: 15px;
  font-weight: bold;
  align-self: center;
}
.submit-button:hover{
  height: 38px;
  cursor: pointer;
}

.output-row{
  display: flex;
  width: 100%;
  height: fit-content;
  background-color: blue;
  flex-direction: column;
}
.copy-textbox {
  width: 400px;
  min-height: 150px;
  height: fit-content;
  align-self: center;
  resize: none;
}
.copy-button {
  background-color: black;
  color: white;
  width: 75px;
  height: 25px;
  border-radius: 10px;
  border: solid 1px white;
  margin: 5px 0 5px 0;
  font-size: 15px;
  font-weight: bold;
  transition: 0.5s;
  align-self: center;
}
.notes input:hover {
  transition: 0.5s;
  background-color: #f47624;
  color: black;
  border: solid 1px black;
  cursor: pointer;
}
/* Footer Styling */
footer {
  display: flex;
  width: 50%;
  height: 5vh;
  background-color: #f47624;
  color: black;
  align-items: end;
  justify-content: end;
  flex-direction: column;
  box-shadow: 0px 15px 25px black;

}
footer p {
  margin: 0 5px 3px 0;
  font-size: 13px;
}
